{{!-- copying about.html contents from public/about.html and deleting about.html( for making view dynamic) --}}
<!DOCTYPE html>
<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <div class="main-content">
    {{>header}} 
    <p>This site was created by Priyanka. It uses app like mapbox.com and darksky.com.</p> 
    <img class="portrait" src="/img/ping.jpg">
  </div>
 
      {{>footer}}
    
</body>
</html>
