{{!-- <h1>Static Header.hbs from partials</h1> //static --}}

<header>
<h1>{{title}}</h1> {{!-- from app.js --}}

<div>
    <a href='/'>Weather</a>
    <a href='/about'>About</a>
    <a href='/help'>Help</a>
</div>
</header>
